.grid{
    display: grid;
    grid-template-columns: repeat(5, 2fr);
    grid-template-rows: 3fr 1.5fr 1fr;
    grid-template-areas:
    "img somos somos somos somos" 
    "section2 section2 section2 section2 section2" 
    "footer footer footer footer footer";
}

.imagen{
    grid-area: img;
}

.texto1{
    grid-area: somos;
}

.texto2{
    grid-area: section2;
}

.footer{
    grid-area: footer;
}