@import "variables";
@import "header-grid";

body{
    background-color: $color-6;
    width: 100%;
}

.header{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: linear-gradient(to right, $color-6, $color-5, $color-4, $color-3, $color-2, $color-1);
    .header__logo{
        height: 100%;
        width: 100vh;
    }
    .header__nav{
        font-size:x-large;
        height: 100px;
        ul li{
            float: left;
            list-style: none;
            margin: 25px;
            a{
                text-decoration: none;
                text-transform: uppercase;
                color: black;
            }
        }
    }
}

.slide{
    margin-top: 5%;
    width: 80%;
    margin-left: 10%;
}

.slide img{
    height: 75vh;
}

.promos{
    margin: 5%;
    width: 90%;
}

.promos__tabla{
    background-color: $color-2;
    text-align: left;
    border-collapse: collapse;
    width: 100%;
    font-style:italic;
    font-size: larger;
}

.promos__tabla__titulo{
    color: $color-titulo;
    font-size:xx-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    text-align: center;
}

.promos__tabla th, td{
    padding: 20px;
}

.promos__tabla td:hover{
    padding: 30px;
}

.promos__tabla__encabezados{
    background-color: $color-titulo;
    border-bottom: solid 5px black;
    color: white;
    text-transform: uppercase;
}

.promos__tabla__color{
    background-color: $color-3;
}

.recurso__titulo{
    color: $color-titulo;
    text-align: center;
    font-size:xx-large;
    text-transform: uppercase;
}

.recurso__imagen img{
    width: 400px;
}

.recurso__texto{
    display: inline-block;
    font-size:x-large;
    width: 80%;
    margin-left: 10%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.recurso__enlace{
    font-size: x-large;
    font-family:sans-serif;
    display: block;
    padding: 1%;
}

.footer{
    border-top: 2px solid $color-borde;
    background-image: linear-gradient(to right, $color-6, $color-5, $color-4, $color-3, $color-2, $color-1);
}

.footer__nav{
    font-size:x-large;
    height: 200px;
}

.footer__nav ul li{
    float:left;
    list-style: none;
    margin-left: 8%;
    margin-top: 7%;
}

.footer__nav ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: black;
}

/*Servicios y promociones*/

.promos__texto{
    font-size: x-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/*Nuestros clientes*/

.clientes img{
    width: 400px;
    margin-left: 50px;
}

.clientes__identidad{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.clientes__papeleria, .clientes__redes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.clientes__titulo{
    font-size: 80px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: $color-1;
    text-align: center;
}

.clientes__identidad__subtitulo, .clientes__papeleria__subtitulo, .clientes__redes__subtitulo{
    font-size: 40px;
    color: $color-titulo;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 5%;
}

.clientes__identidad__texto, .clientes__papeleria__texto, .clientes__redes__texto{
    display: inline; 
    font-family: sans-serif;
    font-size: x-large;
    padding-left: 20px;
    padding-right: 20px;
}

/* Quienes somos */

@import "quienes-somos-grid";

.grid div{
    padding-left: 25px;
}

.imagen img{
    width: 450px;
}

.imagen{
    margin-top: 10%;
}

.texto__titulo{
    font-size:xx-large;
    font-family: sans-serif;
    color: $color-1;
}

.letra{
    font-size: x-large;
    padding-right: 25px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.texto1{
    margin-top: 10%;
}


/* Contacto 

.datos{
    margin: 10%;
}

.datos__titulo{
    font-size:xx-large;
}

.datos__items{
    display: block;
}*/

.contacto__main{
    background-color: #cea0aa;
    opacity: 0.7;
    background-image:  radial-gradient(#e9c2c5 0.9px, transparent 0.9px), radial-gradient(#e9c2c5 0.9px, #cea0aa 0.9px);
    background-size: 36px 36px;
    background-position: 0 0,18px 18px;
    display: flex;
    min-height: 100vh;
}

form{
    width: 80%;
    max-width: 400px;
    margin: 5%;
}

.datos__titulo{
    font-size: xx-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 5%;
    text-align: center;
}