/* Paleta de colores */
body {
  background-image: linear-gradient(to bottom, #cea0aa, #e9c2c5, #eff4f8, #c0d3e4, #9db0ce, #4d58a5);
  width: 100%; }

.header {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif; }
  .header .header__logo {
    height: 100%;
    width: 100vh; }

#header__nav {
  font-size: x-large; }
  #header__nav div ul li {
    float: left;
    list-style: none;
    margin: 1%; }
    #header__nav div ul li a {
      text-decoration: none;
      text-transform: uppercase;
      color: black;
      transition: color .4; }
    #header__nav div ul li a:hover {
      color: #eff4f8; }

.slide {
  margin-top: 5%;
  width: 80%;
  margin-left: 10%; }

.slide img {
  height: 75vh; }

.promos {
  margin-left: 15%;
  margin-right: 15%;
  width: 70%; }

.promos__tabla {
  background-color: #9db0ce;
  text-align: left;
  border-collapse: collapse;
  width: 100%;
  font-style: italic;
  font-size: larger; }

.promos__tabla__titulo {
  color: #545979;
  font-size: xx-large;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-transform: uppercase;
  text-align: center; }

.promos__tabla th, td {
  padding: 20px; }

.promos__tabla__encabezados {
  background-color: #545979;
  border-bottom: solid 5px black;
  color: white;
  text-transform: uppercase; }

.promos__tabla__color {
  background-color: #c0d3e4; }

.recurso__titulo {
  color: #545979;
  text-align: center;
  font-size: xx-large;
  text-transform: uppercase; }

.recurso__texto {
  font-size: x-large;
  width: 80%;
  margin-left: 10%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 10%; }

.recurso__enlace {
  font-size: x-large;
  font-family: sans-serif;
  display: block;
  padding: 1%; }

.footer__nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; }

.footer__nav ul li {
  float: left;
  list-style: none; }

.footer__texto {
  text-align: center;
  color: #eff4f8;
  text-transform: uppercase;
  font-size: larger;
  padding-top: 5%;
  padding-bottom: 2.5%; }

/*Servicios y promociones*/
.promos__texto {
  font-size: x-large;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }

/*Nuestros clientes*/
.clientes img {
  max-width: 400px; }

.clientes__subtitulo {
  font-size: 50px;
  color: #545979;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 5%; }

.clientes__texto {
  font-family: sans-serif;
  font-size: x-large;
  padding-left: 20px;
  padding-right: 20px; }

.clientes__papeleria ul li {
  font-family: sans-serif;
  font-size: x-large; }

/* Quienes somos */
.imagen {
  max-width: 450px; }

.texto__titulo {
  font-size: xx-large;
  font-family: sans-serif;
  color: #4d58a5; }

.letra {
  font-size: x-large;
  padding-right: 25px;
  font-family: Georgia, 'Times New Roman', Times, serif; }

/* Contacto */
.contacto__main {
  display: flex;
  min-height: 100vh;
  justify-content: center; }

form {
  width: 80%;
  max-width: 400px;
  margin: 5%; }

.datos__titulo {
  font-size: xx-large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 5%; }
